%heading {
    font-family: $font-display;
    font-weight: 400;
    color: $color-white;
}

.heading {

    &-1 {
        @extend %heading;
        font-size: 5rem;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 1.25rem;

    }

    &-2 {
        @extend %heading;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: .1rem;
    }

    &-3 {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 900;
    
        background-image: linear-gradient(to right, $color-secondary, $color-tertiary);
        display: inline-block;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &-4 {
        font-size: 2rem;
        text-transform: uppercase;
    }
}